/*******************
    Reset
*******************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nerko-one-regular {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  
.montserrat {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
  }

body{
    font-family: "Montserrat", serif;
}

  /**********************
        Common
  ***********************/

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
    display: block
}

  /**************************
        Header
  **************************/


header{
    padding: 0 20px;
    text-align: center;
}

.logo{
    color: #ff9614;
    font-family: "Nerko One", cursive;
    font-size: 40px;
    text-transform: uppercase;
}

/****************************
        Main
****************************/

main{
    padding: 30px 20px 70px;
    background-color: #f6f5f3;
}

p{
    font-size: 15px;
    text-transform: uppercase;
    color: #999999;
}

h1{
    color: #4e3969;
    padding-top: 10px;
    padding-bottom: 30px;
}

.titolo-none{
    display: none;
}

/* link video */

.card{
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 1px 3px 0px #e2e0e1;
}

.card-bott ul{
    line-height: 2;
}

h3{
    font-size: 17px;
    padding-bottom: 35px;
}


.card-bott{
    width: 100%;
    padding: 20px 40px 50px;
    background-color: #ffff;
}

/* icone */

.icone{
    margin-top: 30px ;
}

.icone ul{
    display: flex;
    justify-content: space-between;
}

.icone li{
    background-color: #ffff;
    padding: 5px 10px;
    border-radius: 20px;
    box-shadow: 0 1px 3px 0px #e2e0e1;
    
}

.nome-icone{
    display: none;
    color: #000;
}

.fa-facebook{
    color: #1a77f3;
}

.fa-twitter{
    color: #009eff;
}

.fa-youtube,
.fa-pinterest,
.fa-instagram{
    color: #e62222;
}

/* publicita */

.publicità{
    display: none;
    margin-top: 50px;
}


/*******************
    seconta sezione
*******************/
.sottotitolo{
    font-size: 25px;
    margin-top: 30px;
}

hr{
    border: 0;
    border-bottom: 2px solid #f7972e;
    margin: 20px 0;
    width: 70px;
}

.testo img{
    padding: 0 70px;
}

.testo p {
    margin-top: 20px;
    color: #000;
    font-size: 14px;
    line-height: 1.5;
    text-transform: none;
}

/*************************
        Footer
**************************/

footer{
    background-color: #7c69a4;
    padding: 20px;
}

footer p{
    color: #ffff;
    font-size: 12px;
    text-align: center;
    text-transform: none;
    line-height: 1.5;

}

footer ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 12px;
    
}

footer li{
    padding-right: 10px;
}

footer a {
    text-decoration: underline;
    color: #ffff;
    line-height: 1.5;
}
  /***********************
        responsive
  ***********************/

@media screen and (min-width: 768px) {
    header{
        text-align: left;
    }

    main{
        padding: 60px;
    }

    .titolo-none{
        display: inline;
    }

    h1{
        font-size: 30px;
    }

    .card-bott ul{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    .icone li {
        padding: 10px 50px;
    }

    .publicità{
        display: inline;  
    }

    .testo img {
        float: left;
        width: 30%;
         padding: 0;
        margin-right: 10px;
    }
}

/* Desktop */

@media screen and (min-width: 992px){
    
    main{
        padding: 60px 280px;
    }
    
    h1{
        font-size: 35px;
    }

    .card{
        flex-wrap: nowrap;
        gap: 0;
    }

    .card-bott{
        width: 410px;
        padding: 20px;
    }

    .card-bott ul{
        display: block;
        font-size: 12px;
    }

    .nome-icone{
        display: inline;
        color: #000;
        font-size: 13px;
    }

    .icone li {
        padding: 10px;
    }

    .testo img{
        width: 25%;
    }   

}